Repository ks6088ts-labs/template-langgraph, changes with the labels that .github/labeler.yaml gives for each.
All labels: docs, github, agents, llms, services, tools

add sql database tool
  .env.template
  .gitignore
  template_langgraph/services/streamlits/pages/chat_with_tools_agent.py
  template_langgraph/tools/common.py
  template_langgraph/tools/sql_database_tool.py
Labels: services, tools

support postgres
  .env.template
  docker-compose.yml
  pyproject.toml
  uv.lock
Labels: none

handle errors when getting sql database tools
  .env.template
  template_langgraph/agents/chat_with_tools_agent/agent.py
  template_langgraph/agents/kabuto_helpdesk_agent/agent.py
  template_langgraph/tools/common.py
Labels: agents, tools

fix to run test.sh properly
  .env.template
  template_langgraph/llms/azure_openais.py
  template_langgraph/llms/ollamas.py
Labels: llms

uv add azure-search-documents azure-identity
  pyproject.toml
  uv.lock
Labels: none

add a CLI to run AI Search operation
  .env.template
  scripts/ai_search_operator.py
  template_langgraph/tools/ai_search_tool.py
Labels: tools

add AI Search tool
  docs/references.md
  template_langgraph/tools/ai_search_tool.py
  template_langgraph/tools/common.py
Labels: docs, tools

gen: (GPT-5) #file:chat_with_tools_agent.py で実装された streamlit アプリで、sidebar からユーザーが選択的に agent に追加する tool を選べるようにしてください。 tool は #file:common.py で参照されている任意のツールを対象としてください。
  template_langgraph/services/streamlits/pages/chat_with_tools_agent.py
Labels: services

update assets
  docs/images/streamlit.png
  docs/index.ja.md
  docs/index.md
Labels: docs

uv add opentelemetry-api opentelemetry-sdk opentelemetry-exporter-otlp
  pyproject.toml
  uv.lock
Labels: none

add jaeger container
  docker-compose.yml
Labels: none

add example codes for otel
  .env.template
  scripts/otel_operator.py
  template_langgraph/utilities/otel_helpers.py
Labels: none

make update
  uv.lock
Labels: none

add summarizer agent
  langgraph.json
  pyproject.toml
  scripts/agent_operator.py
  scripts/test_all.sh
  template_langgraph/agents/news_summarizer_agent/__init__.py
  template_langgraph/agents/news_summarizer_agent/agent.py
  template_langgraph/agents/news_summarizer_agent/models.py
Labels: agents

refactor news summarizer agent
  scripts/agent_operator.py
  template_langgraph/agents/news_summarizer_agent/agent.py
  template_langgraph/agents/news_summarizer_agent/models.py
Labels: agents

add analyze image command
  scripts/azure_openai_operator.py
Labels: none

add image classifier agent
  langgraph.json
  scripts/agent_operator.py
  template_langgraph/agents/image_classifier_agent/__init__.py
  template_langgraph/agents/image_classifier_agent/agent.py
  template_langgraph/agents/image_classifier_agent/models.py
Labels: agents

gen: (GPT-5) #file:agent.py で LlmClassifier, MockClassifier を定義していますが、抽象クラスのインタフェースを作成してリファクタしてください
  template_langgraph/agents/image_classifier_agent/agent.py
  template_langgraph/agents/image_classifier_agent/classifiers.py
Labels: agents

gen: (GPT-5) news summarizer agent で実装されている Scraper と Summarizer の抽象クラスを作成してリファクタしてください
  template_langgraph/agents/image_classifier_agent/classifiers.py
  template_langgraph/agents/news_summarizer_agent/agent.py
  template_langgraph/agents/news_summarizer_agent/scrapers.py
  template_langgraph/agents/news_summarizer_agent/summarizers.py
Labels: agents

add links for observability
  docs/references.md
  scripts/otel_operator.py
Labels: docs

.github/labeler.yaml:

docs:
  - docs/**/*
github:
  - .github/**/*
agents:
  - template_langgraph/agents/**/*
llms:
  - template_langgraph/llms/**/*
services:
  - template_langgraph/services/**/*
tools:
  - template_langgraph/tools/**/*
